OPENVAS_HOST=171.254.94.194
SSH_USERNAME=ubuntu
SSH_PASSWORD=123456
GMP_USERNAME=user
GMP_PASSWORD=password
DB_USER=postgres
DB_PASSWORD=password
OPENAI_API_KEY=KEY

BOT_TOKEN=TOKEN
BACKEND_IP=localhost
SPIDERFOOT_IP=171.254.94.194
SPIDERFOOT_PORT=5001
DB_NAME=VDT_P2
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
TELEGRAM_ID=ID